################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NeuroCave/FileContentIndex/27839cb6-f38a-4914-a88d-ac8ef9d3e8ec.vsidx
/.vs/NeuroCave/FileContentIndex/42c85120-e77b-4fde-8880-d78adcb8b13f.vsidx
/.vs/NeuroCave/FileContentIndex
/.vs/NeuroCave/v17
/.vs/NeuroCave/config
/.vs
