body {
    margin: 0;
    font-family: 'Fjord', sans-serif;
}

button {
    background-color: #3498db; /*rgb(197, 239, 247) ;*/
    border-width: 1px;
    text-align: center;
    -webkit-border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: floralwhite;
    font-weight: 400;
}

button:hover {
    background: #BDC3C7; /*rgb(82, 179, 217);*/
}

button:disabled {
    opacity : .6;
    background-color: grey;
}
input:disabled {
    opacity : .3;
}

input:disabled+label {
    color: #4c4c4c;
}

input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px #c9c9c9;
    background-color: red;
    transition: border 0.3s;
    /*-webkit-border-radius: 5;*/
    /*-moz-border-radius: 5;*/
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
}


button > input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px #c9c9c9;
    background-color: red;
    transition: border 0.3s;
    /*-webkit-border-radius: 5;*/
    /*-moz-border-radius: 5;*/
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
}

.dhtmlx_button {
    margin-top:10px;
}

.menu {
    background-color:  rgba(46,36,33, 0.0);
    font-family: 'Open Sans', sans-serif;
    color: floralwhite;
}

.menu > button {
    position: relative;
    width : 95px;
    height: 40px;
    margin: 4px;
    font-size: 11px;
}

.load{
    background-color: green;
}

#canvasLeft {
    width: 49.5%;
    height: 100%;
    float: left;
    z-index: 1;
}

#canvasRight {
    width: 50%;
    height: 100%;
    float: right;
    z-index: 1;
}

#canvas {
     width: 100%;
     height: 100%;
     z-index: 1;
 }

#legend {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    z-index: 2
}



#shortestPath {
    position: absolute;
    width: 175px;
    height: 100px;
    top: 200px;
    right: 30px
}

#colorCoding{
    position: absolute;
    width: 175px;
    height: 25px;
    top: 400px;
    right: 30px;
    z-index: 3;
}

#viewLeft {
    position: absolute;
    height: 100px;
    width: 50%;
    top: 0px;
    left: 0px;
}

#subjectMenuLeftLabel {
    position: relative;
    top: 5px;
    left: 5px;
}

#subjectMenuLeft {
    position: relative;
    width: 130px;
    height: 25px;
    top: 5px;
    left: 5px;
    color: black;
}

#topologyMenuLeftLabel {
    position: relative;
    top: 5px;
    left: 15px;
}

#topologyMenuLeft {
    position: relative;
    width: 130px;
    height: 25px;
    top: 5px;
    left: 15px;
    color: black;
}

#syncLeft {
    position: relative;
    height: 25px;
    top: 5px;
    left: 20px;
}

#syncRight {
    position: relative;
    height: 25px;
    top: 5px;
    left: 20px;
}

#viewRight {
    position: absolute;
    height: 100px;
    width:50%;
    top: 0px;
    right: 0px;
}

#topologyMenuRightLabel {
    position: relative;
    top: 5px;
    left: 15px;
}

#topologyMenuRight {
    position: relative;
    width: 130px;
    height: 25px;
    top: 5px;
    left: 15px;
    color: black;
}

#subjectMenuRightLabel {
    position: relative;
    top: 5px;
    left: 5px;
}

#subjectMenuRight {
    position: relative;
    width: 130px;
    height: 25px;
    top: 5px;
    left: 5px;
    color: black;
}

#nodeInfoPanel {
    position: absolute;
    width: 300px;
    height: 120px;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    color: antiquewhite;
}

#nodeInfoPanel > p {
    text-align:center;
    vertical-align: middle;
}

#nodeInfoPanelLeft {
    position: absolute;
    width: 300px;
    height: 160px;
    bottom: 10px;
    left: 10px;
    z-index: 3;
    color: antiquewhite;
}

#nodeInfoPanelLeft > p {
    text-align:center;
    vertical-align: middle;
}

#nodeInfoPanelRight {
    position: absolute;
    width: 300px;
    height: 160px;
    bottom: 10px;
    right: 35%;
    z-index: 3;
    color: antiquewhite;
}

#nodeInfoPanelRight > p {
    text-align:center;
    vertical-align: middle;
}

#edgeInfoPanel {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 10px;
    right: 10px;
    z-index: 2
}

#rightFslLabels {
    overflow:auto;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
}

#leftFslLabels {
    overflow:auto;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 10px;
    left: 10px;
    z-index: 2;
    display: none;
}

#search {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 10px;
    right:300px;
    z-index: 2;
    display: none;
}

#full {
    height: 100%;
    min-height: 100%;
    top:0; right:0;
    bottom:0; left:0;
    background-color: white;
}

#vrLeft {
    position: absolute;
    bottom: 10px;
    left: 20%;
    text-align: center;
    z-index: 1;
}

#vrRight {
    position: absolute;
    bottom: 10px;
    right: 20%;
    text-align: center;
    z-index: 1;
}

a#magicWindowLeft {
    display: block;
    color: white;
    margin-top: 1em;
}

a#magicWindowRight {
    display: block;
    color: white;
    margin-top: 1em;
}



/*.label{*/
    /*color: black;*/
/*}*/
